@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
    font-size: .16rem;
    background: #EEE;
    overflow: hidden;
}

input,
button,
select,
textarea,
a {
    outline: none;
    border: none;
    background: none;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #ccc;
    i {
        flex: 1.5;
        text-align: center;
    }
    p {
        flex: 5.5;
        input {
            width: 80%;
            border-radius: 50px;
            background: #ccc;
            padding: 5px 10px;
        }
    }
    div {
        flex: 2;
        display: flex;
        justify-content: space-around;
        align-items: center;
        span {
            font-size: 20px;
        }
    }
}

.main {
    flex: 1;
    overflow: hidden;
    overflow-y: scroll;
}

.nav {
    display: flex;
    width: 100%;
    background: #eee;
    p {
        flex: 1;
        text-align: center;
        font-size: .14rem;
        padding: .1rem 0;
    }
}

.big {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
    background: #fff;
    p {
        width: 24.6%;
        background: red;
        padding: 20px 0;
        margin-top: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ccc;
        span {
            font-size: .14rem;
        }
    }
}

.footer {
    width: 100%;
    height: .45rem;
    display: flex;
    background: #fff;
    p {
        flex: 1;
        text-align: center;
        line-height: .45rem;
    }
}