<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telphone=no, email=no">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="fonts/iconfont.css">
    <script>
        document.documentElement.style.fontSize = window.innerWidth / 320 * 100 + "px";
    </script>
    <title>Document</title>
</head>

<body>
    <div class="wrap">
        <header class="header">
            <i class="iconfont icon-youxiang1"></i>
            <p><input type="" name="" value=""></p>
            <div><span class="iconfont icon-faxiandingdan"></span><span class="iconfont icon-tijiaodingdan"></span></div>
        </header>
        <main class="main">
            <nav class="nav">
                <p>热门</p>
                <p>分类</p>
                <p>精品</p>
                <p>直播</p>
                <p>广播</p>
            </nav>
            <div class="big">
                <p>
                    <i class="iconfont">&#xe728;</i>
                    <span>音乐</span>
                </p>
                <p>
                    <i class="iconfont">&#xe728;</i>
                    <span>音乐</span>
                </p>
                <p>
                    <i class="iconfont">&#xe728;</i>
                    <span>音乐</span>
                </p>
                <p>
                    <i class="iconfont">&#xe728;</i>
                    <span>音乐</span>
                </p>
                <p>
                    <i class="iconfont">&#xe728;</i>
                    <span>音乐</span>
                </p>
                <p>
                    <i class="iconfont">&#xe728;</i>
                    <span>音乐</span>
                </p>
                <p>
                    <i class="iconfont">&#xe728;</i>
                    <span>音乐</span>
                </p>
                <p>
                    <i class="iconfont">&#xe728;</i>
                    <span>音乐</span>
                </p>
                <p>
                    <i class="iconfont">&#xe728;</i>
                    <span>音乐</span>
                </p>
                <p>
                    <i class="iconfont">&#xe728;</i>
                    <span>音乐</span>
                </p>
                <p>
                    <i class="iconfont">&#xe728;</i>
                    <span>音乐</span>
                </p>
                <p>
                    <i class="iconfont">&#xe728;</i>
                    <span>音乐</span>
                </p>
                <p>
                    <i class="iconfont">&#xe728;</i>
                    <span>音乐</span>
                </p>
                <p>
                    <i class="iconfont">&#xe728;</i>
                    <span>音乐</span>
                </p>
                <p>
                    <i class="iconfont">&#xe728;</i>
                    <span>音乐</span>
                </p>
                <p>
                    <i class="iconfont">&#xe728;</i>
                    <span>音乐</span>
                </p>
                <p>
                    <i class="iconfont">&#xe728;</i>
                    <span>音乐</span>
                </p>
                <p>
                    <i class="iconfont">&#xe728;</i>
                    <span>音乐</span>
                </p>
                <p>
                    <i class="iconfont">&#xe728;</i>
                    <span>音乐</span>
                </p>
                <p>
                    <i class="iconfont">&#xe728;</i>
                    <span>音乐</span>
                </p>
            </div>
        </main>
        <footer class="footer">
            <p>首页</p>
            <p>我听</p>
            <p>发现</p>
            <p>未登录</p>
        </footer>
    </div>
</body>

</html>